<div class="col-sm-12">
  <div class="paginador">
    <p class="form-group" style="display: inline;">Resultados Por Página:</p>
    <div *ngFor="let option of numberPages" style="display: inline;">
      <a (click)="setValue(option.numero)" class="link">
        {{option.numero}}
      </a>
    </div>
  </div>
  <p-dataTable #dataTable [paginatorPosition]="'both'" [responsive]="true" [pageLinks]="5" [lazy]="false" [value]="cars" [rows]="10"
    [paginator]="true" [style]="{'width':'100%'}" (onPage)="pageChanged($event)">
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
  </p-dataTable>
  <div class="paginador-bottom">
    <p class="form-group" style="display: inline;">Resultados Por Página:</p>
    <div *ngFor="let option of numberPages" style="display: inline;">
      <a (click)="setValue(option.numero)" class="link">
        {{option.numero}}
      </a>
    </div>
  </div>
</div>