<div class="col-sm-12">
  <div class="paginador">
    <p class="form-group label-paginador" style="display: inline;">Resultados Por Página:</p>
    <a *ngFor="let option of numberPages" style="display: inline;" (click)="setRows(option.numero)" class="link">
      {{option.numero}}
    </a>
  </div>
  <div class="pesquisa-paginador-top">
    <p class="form-group label-paginador" style="display: inline;">Ir para a página: </p>
    <input #pageTop type="text" class="input-pesquisar-pagina-top form-control" (keyup.enter)="setPage(pageTop.value)" />
  </div>
  <p-dataTable #dataTable [paginatorPosition]="'both'" [responsive]="true" [pageLinks]="5" [lazy]="false" [value]="cars" [rows]="10"
    [paginator]="true" [style]="{'width':'100%'}" (onPage)="pageChanged($event)">
    <ng-template pTemplate="emptymessage">
      Não há registros.
    </ng-template>

    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
    <p-footer>
      Total de Registros: {{5}}
    </p-footer>
  </p-dataTable>
  <div class="paginador-bottom">
    <p class="form-group label-paginador" style="display: inline;">Resultados Por Página:</p>
    <a *ngFor="let option of numberPages" style="display: inline;" (click)="setRows(option.numero)" class="link">
      {{option.numero}}
    </a>
  </div>
  <div class="pesquisa-paginador-bottom">
    <p class="form-group label-paginador" style="display: inline;">Ir para a página: </p>
    <input #page type="text" class="input-pesquisar-pagina form-control" (keyup.enter)="setPage(page.value)" />
  </div>
</div>